.main {
    width: 80%;
    margin: 0 auto;
}

#basket {
    position: fixed;
    top: 20px;
    right: 10%;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: auto;
    flex-direction: column
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav input {
    height: 2rem;
    text-align: center;
}
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    font-size: 17px;
}
.nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 1rem auto;
}
.nav li{
    list-style-type: none;
    margin: 0 1rem;
}

.nav a{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

#exem{
    color: black;
}